/* line 1, ../org.amdatu.blueprint.demonstrator.todo.app/web/todo/styles/app.scss */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Avenir"; }

/* line 8, ../org.amdatu.blueprint.demonstrator.todo.app/web/todo/styles/app.scss */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/background.jpg") no-repeat 0 0/cover; }

/* line 2, ../org.amdatu.blueprint.demonstrator.todo.app/web/todo/styles/_section.scss */
div {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1px;
  cursor: pointer;
  list-style: none; }

/* line 10, ../org.amdatu.blueprint.demonstrator.todo.app/web/todo/styles/_section.scss */
li {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1px;
  cursor: pointer;
  list-style: none; }

/* line 18, ../org.amdatu.blueprint.demonstrator.todo.app/web/todo/styles/_section.scss */
.name {
  display: inline-block;
  width: 230px; }
