<h1>Todo list:</h1>
<div>
    <label for="todo-add">Add</label> <input id="todo-add" type="text" ng-model="name">
    <button ng-click="overviewCtrl.add(name)">Add</button>
</div>


<div ng-repeat="todo in overviewCtrl.todos">
    <input id="todo-status-{{id}}" type="checkbox" ng-model="todo.done" ng-change="overviewCtrl.save(todo)">
    <label for="todo-status-{{id}}" class="name" ng-bind="todo.name"></label>
    <span ng-click="overviewCtrl.delete(todo)">X</span>
</div>

