
div {
    background-color:rgba(255, 255, 255, 0.8);
    margin: 1px;
    cursor: pointer;
    list-style: none;

}

li {
    background-color:rgba(255, 255, 255, 0.8);
    margin: 1px;
    cursor: pointer;
    list-style: none;

}

.name {
    display: inline-block;
    width: 230px;
}
