body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Avenir";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/background.jpg') no-repeat 0 0 / cover;
}

@import "section";
