/* line 1, ../org.amdatu.blueprint.demonstrator.ui.shared/web/shared/topbar/topbar.css */
topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  color: #fff;
  padding: 2px 8px;
  background: rgba(0, 0, 0, 0.8); }

/* line 12, ../org.amdatu.blueprint.demonstrator.ui.shared/web/shared/topbar/topbar.css */
topbar a {
  color: #fff;
  text-decoration: none; }

/* line 17, ../org.amdatu.blueprint.demonstrator.ui.shared/web/shared/topbar/topbar.css */
topbar a:not(:last-child):after {
  content: "|";
  padding: 0 5px;
  vertical-align: middle;
  color: gray; }
